.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 170px;
    column-gap: 40px;
    
   
   
  
}

@media (max-width: 850px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

.card{
    width:300px;
    height: 300px;
    border-radius: 5px;
}

.card:hover{
   
    cursor: pointer;
}


.img-cont{
   height: 100%;
   width: 100%;
   margin-bottom: 0%;

}

.shoes-img{
    width: 100%;
}

.shoes-img{
    border-radius: 5px;
}

.justin{
    color: rgb(165, 27, 27);

}


.prod-name{
    margin: 0px;

}

.prod-specs{
    color: rgb(107, 105, 105);
}

.prod-price{
    margin-top:20px;
}

